python-dotenv
streamlit
rich
langchain
langchain-community
langchain-text-splitters
langgraph
langchain-groq
langchain-huggingface
langchain-tavily
sentence-transformers
transformers
torch
faiss-cpu
beautifulsoup4
