streamlit==1.28.0
python-dotenv==1.0.1
langchain==0.1.20
langchain-community==0.0.38
langgraph==0.0.44
langchain-google-genai==1.0.8
google-generativeai==0.3.2
sentence-transformers==2.2.2
transformers==4.36.2
torch==2.1.2
datasets==2.14.4
pyarrow==12.0.1
rich==13.7.1
faiss-cpu==1.7.4
tavily-python
unstructured
beautifulsoup4
requests









